<!DOCTYPE html>
<html>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="reg.css">
</head>
<body>
	<div class="main-reg">
			<div class="form-heading">Registration form</div>

			<div class="form-reg">
				<form>
					<div class="form-group">
						<div class="form-label">Username :-</div>
						<div class="form-input">
							<input type="text" name="Username" id="firstname">
						</div>
					</div>

					<div class="form-group">
						<div class="form-label">Password :-</div>
						<div class="form-input">
							<input type="password" name="firstname" id="firstname">
						</div>
					</div>

					<div class="form-group">
						<div class="form-label">Email :-</div>
						<div class="form-input">
							<input type="text" name="firstname" id="firstname">
						</div>
					</div>

					<div class="bottom-footer">
						<button type="submit">Submit</button>
					</div>
				</form>

			</div>
	</div>
</body>
</html>